


{% block head %}

    <meta charset="utf-8">
    <title>Dinder</title>
    <meta name="description" content="">
    <meta name="author" content="">
{#    <meta name="viewport" content="width=device-width, initial-scale=1">#}

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    {#    icon library #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Skeleton.CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/skeleton/normalize.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/skeleton/skeleton.css') }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}">

    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='/favicon-16x16.png')}}">
    <link rel="manifest" href="{{url_for('static', filename='manifest.json')}}">

{% endblock %}


{% block content %}
    <div id="navBarTop" class="container">
            <div class="row">
                <div id="navBarAccountSettingsScreenButton" class="columns six">
                    <h1><i class="far fa-user-circle"></i></h1>
                </div>
                <div id="navBarSwipeScreenButton" class="columns six">
                    <h1><i class="fas fa-utensils"></i></h1>
                </div>
            </div>
        </div>
{% endblock %}


{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
    <script src="https://kit.fontawesome.com/d1e4b8ffd3.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/jquery/jquery-3.5.1.min.js') }}"></script>
{% endblock %}



