{% extends "main/base.html" %}

{% block head %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/carousel.js') }}"></script>
{% endblock %}


    {% block page_content %}
        <div id="accountInfo">
        <div class="row accountInfoItem" style="border: 1px solid red;" >
                <div class="twelve columns" >
                    <h2>Not paired up with anyone.</h2>
                </div>
            </div>
            <div class="row accountInfoItem"  >
                <div class="nine columns">
                    <h2>Your Code:</h2>
                </div>
                <div class="three columns">
                    <h2>{{ user_code }}</h2>
                </div>
            </div>
            <div class="accountInfoItem">
                <div class="row">
                    <h2>Enter Code below to pair: </h2>
                </div>
                <div class="row">
                    <input class="columns six" type="text" placeholder="..." id="enterCodeInput">
                    <input class="button-primary columns six" type="submit" value="Pair">
                </div>
            </div>
        </div>
        <div id="board" >
            <div id="backToRegularViewButton"></div>
            <div id="swipeLeftButton"></div>
            <div id="swipeRightButton"></div>

            <div id="restaurantInfoBelowCard" class="container ">
                <h1 >
                    Smokin' Oak
                </h1>
                <h2>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                </h2>
                <p>
                    <span style="color:gray"><i class="fas fa-dollar-sign"></i><i class="fas fa-dollar-sign"></i></span>  Barbecue Restaurant
                </p>
                <p>
                    <i class="fas fa-map-marker-alt"></i> 4 miles away
                </p>
                <p>
                    Laid-back stop for Texas-style BBQ meats smoked on-site & hearty sides plus catering & a full bar.
                </p>
                {# extra space at the bottom of the screen to display swipe left/right buttons cleanly without overlapping the text. #}
                <h1 style="visibility: hidden">1</h1>
                <h1 style="visibility: hidden">1</h1>
            </div>
            <div id="match-overlay" class="match-overlay">
                <div class="container">
                    <div class="row">
                        <div id="closeMatchOverlayButton" >
                            <h1><i class="fas fa-times"></i></h1>
                        </div>
                    </div>
                    <div id="matchMessage" class="row">
                        <h1>You and Bob both like Smokin' Oak!</h1>
                    </div>
                    <img class="u-max-full-width" src="https://picsum.photos/600/?random=" + Math.round(Math.random() * 1000000)>
                    <div  class="row" >
                        <button id="reviewMatchRestaurantButton">See More</button>
                    </div>
                    <div id="keepSwipingButton" class="row" >
                        <h1 >Keep swiping</h1>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}


{% block scripts %}
    {{ super() }}
    <script type="text/javascript">

        function switchToSwipeView() {
            history.back()
            isAccountView = false

            document.getElementById('navBarAccountSettingsScreenButton').style.pointerEvents = 'auto';
            document.getElementById('navBarSwipeScreenButton').style.pointerEvents = 'none';

            document.getElementById('board').style.display = 'block';
            document.getElementById('accountInfo').style.display = 'none';

            //change button opacity to show selection
            document.getElementById('navBarAccountSettingsScreenButton').style.opacity = '25%';
            document.getElementById('navBarSwipeScreenButton').style.opacity = '80%';
        }

        document.getElementById('navBarAccountSettingsScreenButton').onclick = function () {
            window.history.pushState({url:'account', title:'account'}, 'account', 'account')
            isAccountView = true

            document.getElementById('navBarAccountSettingsScreenButton').style.pointerEvents = 'none';
            document.getElementById('navBarSwipeScreenButton').style.pointerEvents = 'auto';

            document.getElementById('board').style.display = 'none';
            document.getElementById('accountInfo').style.display = 'block';

            //change button opacity to show selection
            document.getElementById('navBarSwipeScreenButton').style.opacity = '25%';
            document.getElementById('navBarAccountSettingsScreenButton').style.opacity = '80%';
        }

        document.getElementById('navBarSwipeScreenButton').onclick = function () {
            //switch back from account view
            switchToSwipeView()
        }

        // close match overlay if "keep swiping" or if upper right X is pressed.
         document.getElementById('keepSwipingButton').onclick = function () {
            document.getElementById('match-overlay').style.height = "0%";
         }

         // close match overlay if "keep swiping" or if upper right X is pressed.
         document.getElementById('closeMatchOverlayButton').onclick = function () {
            document.getElementById('match-overlay').style.height = "0%";
         }
        /* index alternates between 0 and 1, since there are always two buffers of images for preloading. */
        var currImageArrayIndex=0
        var images = []

        let board = document.querySelector('#board')
        let carousel = new Carousel(board)

        let isAccountView = false

        //listeners for swipe left/right buttons. history.back() executes the popstate listener below (calls shrinkInfo).
        document.getElementById('swipeLeftButton').onclick = function () {
            carousel.isLeftSwipe = true
            if (carousel.isInfoView) {
                history.back()
            }
            else {
                carousel.throwCard(-(carousel.board.clientWidth + carousel.topCard.clientWidth), 30)
            }
        }

        document.getElementById('swipeRightButton').onclick = function () {
            carousel.isRightSwipe = true
            if (carousel.isInfoView) {
                history.back()
            }
            else {
                carousel.throwCard(carousel.board.clientWidth, 0)
            }
            openMatchOverlay()
        }

        document.getElementById('backToRegularViewButton').onclick = function () {
            // from /info back to main page (caught by popstate listener on index.html, same thing that catches the back button)
            history.back()
        }

        function whichTransitionEvent() {
            var el = document.createElement('fake'),
                transEndEventNames = {
                    'WebkitTransition' : 'webkitTransitionEnd',// Saf 6, Android Browser
                    'MozTransition'    : 'transitionend',      // only for FF < 15
                    'transition'       : 'transitionend'       // IE10, Opera, Chrome, FF 15+, Saf 7+
                };

            for(var t in transEndEventNames){
                if( el.style[t] !== undefined ){
                    return transEndEventNames[t];
                }
            }
        }

        //called when 1) hitting back button (only applicable when the app is in the /info state, or the info view) or when hitting the "back to regular view" button,
        // or 2) when the swipe right/left button is selected. if in the info view, history.back() is called, which triggers the popstate event listener below.
        window.addEventListener('popstate', function (e) {
            if (isAccountView) {
                switchToSwipeView()
            }
            else {
                //shrink the view back to regular swipe view. includes some transitions
                carousel.shrinkInfo()
                //grab the "top card" via jquery
                var transEndEventName = whichTransitionEvent();
                $('#card_0').one(transEndEventName, function (e) {
                    //console.log(e.type);
                    if (carousel.isLeftSwipe) {
                        carousel.throwCard(-(carousel.board.clientWidth + carousel.topCard.clientWidth), 30)
                    } else if (carousel.isRightSwipe) {
                        carousel.throwCard(carousel.board.clientWidth, 0)
                    }
                });
            }
        });

        function openMatchOverlay() {
            document.getElementById('match-overlay').style.height = "100%";
        }

      //  var source = new EventSource("{{ url_for('sse.stream') }}");

     //   source.addEventListener('greeting', function(event) {
      //      var data =JSON.parse(event.data);
       //     console.log(data)
            {#openMatchOverlay()#}
       // }, false);

       // source.addEventListener('error', function(event) {
            //alert("Failed to connect to event stream. Is Redis running?");
        //}, false);



    </script>
{% endblock %}