{% extends "main/base.html" %}

{% block head %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/carousel.js') }}"></script>
{% endblock %}


    {% block page_content %}
        <div id="accountInfo">
            <div class="row accountInfoItem" id="pairedInfo" style="border: 1px solid red;" >
                <div class="twelve columns"  >
                    <h2>Not paired up with anyone.</h2>
                </div>
            </div>
            <div class="row accountInfoItem"  >
                <div class="nine columns">
                    <h2>Your Code:</h2>
                </div>
                <div id="yourCode" class="three columns">
                    <h2></h2>
                </div>
            </div>
            <div class="accountInfoItem">
                <div class="row">
                    <h2>Enter Code below to pair: </h2>
                </div>
                <div class="row">
                    <input class="columns six" type="text" style="text-transform: uppercase" placeholder="..." id="enterCodeInput">
                    <input id="submitPairCodeRequest" class="button-primary columns six" type="submit" value="Pair">
                </div>
            </div>
        </div>
        <div id="board" >
            <div id="backToRegularViewButton"></div>
            <div id="swipeLeftButton"></div>
            <div id="swipeRightButton"></div>

            <div id="restaurantInfoBelowCard" class="container ">
                <h1 id="restaurantNameBelowCard">
                </h1>
                <h2 id="restaurantRatingBelowCard">
                    <span id="ratingStar1" class="fa fa-star"></span>
                    <span id="ratingStar2" class="fa fa-star"></span>
                    <span id="ratingStar3" class="fa fa-star"></span>
                    <span id="ratingStar4" class="fa fa-star"></span>
                    <span id="ratingStar5" class="fa fa-star"></span>
                    <span id="userRatings"></span>
                </h2>
                <p id="restaurantTypeBelowCard">

                </p>
                <p id="restaurantMilesAwayBelowCard">
                </p>
                <p id="restaurantDescriptionBelowCard">
                </p>
                {# extra space at the bottom of the screen to display swipe left/right buttons cleanly without overlapping the text. #}
                <h1 style="visibility: hidden">1</h1>
                <h1 style="visibility: hidden">1</h1>
            </div>
        </div>
        <div id="match-overlay" class="overlay">
            <div class="container">
                <div class="row">
                    <div id="closeMatchOverlayButton" >
                        <h1><i class="fas fa-times"></i></h1>
                    </div>
                </div>
                <div id="matchMessage" class="overlayMessage">
                    <h1 id="matchMessageHeader"></h1>
                </div>
                <img id = 'matchImg' class="u-max-full-width" >
                <div  class="row" >
                    <a id="linkToGooglePlaceURL" target="_blank"><button class="overlayAcceptButton" id="reviewMatchRestaurantButton">See More</button></a>
                </div>
                <div id="keepSwipingButton" class="row noText" >
                    <h1 >Keep swiping</h1>
                </div>
            </div>
        </div>
        <div id="pair-overlay" class="overlay">
            <div class="container">
                <div id="pairMessage" class="row overlayMessage">
                    <h1></h1>
                </div>
                <div  class="row" >
                    <button class="overlayAcceptButton" id="acceptPairButton">Pair</button>
                </div>
                <div id="dontPairButton" class="row noText" >
                    <h1 >Don't Pair</h1>
                </div>
            </div>
        </div>

    {% endblock %}


{% block scripts %}
    {{ super() }}
    <script type="text/javascript">

        /* index alternates between 0 and 1, since there are always two buffers of images for preloading. */
        var currImageArrayIndex=0
        var images = []

        var board = document.querySelector('#board')
        var carousel

        var user_code_requesting;
        var user_code_accepted;

        //ask user for location. no functionality (currently) on site if they don't his "Allow".
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(getPositionSuccess, getPositionError);
        } else {
            alert("Geolocation is not supported by this browser.");
        }

        // success callback for navigator.getlocation
        function getPositionSuccess(position) {
            var csrf_token =  $('input[name="csrf_token"]').attr('value');
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrf_token);
                    }
                }
            });

            cookie_lat = position.coords.latitude
            cookie_lng = position.coords.longitude

            var coords = {"curr_lat":cookie_lat, "curr_lng":cookie_lng}

            //send a post request to check if the corresponding entry in t_user has been created,
            //if not, then it creates it.
             $.ajax({
                type: "POST",
                url: "/create_user_if_not_exists",

                data: JSON.stringify(coords ),
                contentType:"application/json; charset=utf-8",
                dataType: "json",
                success: function(result) {

                    user_pairing_code = result.user_pairing_code
                    matched_user_pairing_code = result.matched_user_pairing_code

                    $('#yourCode').find('h2').text(result.user_pairing_code.replace('\u0030', '\u00D8'))
                    //if user is matched, set the info box on the account page accordingly.
                    if (result.matched_user_pairing_code) {
                        $('#pairedInfo').find('h2').text('Paired with User "' + result.matched_user_pairing_code.replace('\u0030', '\u00D8') + '"')
                        document.getElementById('pairedInfo').style.border = '1px solid gray'
                    }

                    //code to handle SSEs from flask.
                    var source = new EventSource("{{ url_for('sse.stream')}}" + '?channel=' + user_pairing_code);

                    source.onmessage = function(event) {
                        var data =JSON.parse(event.data);
                        if (data.event_name === 'pair_request') {
                            user_code_requesting = data.user_code;
                            openPairOverlay('User "' + data.user_code + '" requested to pair up.')
                        }
                        else if (data.event_name === 'pair_accept') {
                            user_code_accepted = data.user_code;
                            openPairOverlay('Paired with user "' + data.user_code.replace('\u0030', '\u00D8') + '".')
                            document.getElementById('acceptPairButton').style.visibility='hidden'
                            document.getElementById('acceptPairButton').style.pointerEvents='none'
                            document.getElementById('dontPairButton').innerText = 'OK'
                            $('#pairedInfo').find('h2').text('Paired with User "' + data.user_code.replace('\u0030', '\u00D8') + '"')
                            document.getElementById('pairedInfo').style.border = '1px solid gray'
                        }
                        else if (data.event_name === 'match') {
                            openMatchOverlay(data.restaurant_name, data.photo_url, data.google_place_url, matched_user_pairing_code)
                        }
                        console.log(data)
                    }
                    //at this point,
                    //1) user allows location services in browser
                    //2) /create_user_if_not_exists (so there's a session, user pairing code, etc.)
                    //3) event source for SSEs is created
                    carousel = new Carousel(board)
                    console.log(result);
                }, //end success callback
                error: function(result) {
                    console.log(result);
                },
            });
        };

        /* Error callback for getLocation() */
        function getPositionError(error) {
            switch (error.code) {
                case error.PERMISSION_DENIED:
                    alert("User denied the request for Geolocation.");
                    break;
                case error.POSITION_UNAVAILABLE:
                    alert("Location information is unavailable.");
                    break;
                case error.TIMEOUT:
                    alert("The request to get user location timed out.");

                    break;
                case error.UNKNOWN_ERROR:
                    alert("An unknown error occurred.");
                    break;
            }
        }

        var user_pairing_code = ''

        function switchToSwipeView() {
            history.back()
            isAccountView = false

            document.getElementById('navBarAccountSettingsScreenButton').style.pointerEvents = 'auto';
            document.getElementById('navBarSwipeScreenButton').style.pointerEvents = 'none';

            document.getElementById('board').style.display = 'block';
            document.getElementById('accountInfo').style.display = 'none';

            //change button opacity to show selection
            document.getElementById('navBarAccountSettingsScreenButton').style.opacity = '25%';
            document.getElementById('navBarSwipeScreenButton').style.opacity = '80%';
        }

        document.getElementById('navBarAccountSettingsScreenButton').onclick = function () {
            window.history.pushState({url:'account', title:'account'}, 'account', 'account')
            isAccountView = true

            document.getElementById('navBarAccountSettingsScreenButton').style.pointerEvents = 'none';
            document.getElementById('navBarSwipeScreenButton').style.pointerEvents = 'auto';

            document.getElementById('board').style.display = 'none';
            document.getElementById('accountInfo').style.display = 'block';

            //change button opacity to show selection
            document.getElementById('navBarSwipeScreenButton').style.opacity = '25%';
            document.getElementById('navBarAccountSettingsScreenButton').style.opacity = '80%';
        }

        document.getElementById('navBarSwipeScreenButton').onclick = function () {
            //switch back from account view
            switchToSwipeView()
        }

        // close match overlay if "keep swiping" or if upper right X is pressed.
         document.getElementById('keepSwipingButton').onclick = function () {
            document.getElementById('match-overlay').style.height = "0%";
         }

         // close match overlay if "keep swiping" or if upper right X is pressed.
         document.getElementById('closeMatchOverlayButton').onclick = function () {
            document.getElementById('match-overlay').style.height = "0%";
         }

         // close pair overlay if "don't pair" or if upper right X is pressed.
         document.getElementById('dontPairButton').onclick = function () {
            document.getElementById('pair-overlay').style.height = "0%";
         }

        let isAccountView = false

        //listeners for swipe left/right buttons. history.back() executes the popstate listener below (calls shrinkInfo).
        document.getElementById('swipeLeftButton').onclick = function () {
            carousel.isLeftSwipe = true
            if (carousel.isInfoView) {
                history.back()
            }
            else {
                carousel.throwCard(-(carousel.board.clientWidth + carousel.topCard.clientWidth), 30)
            }
        }

        document.getElementById('swipeRightButton').onclick = function () {
            carousel.isRightSwipe = true
            if (carousel.isInfoView) {
                history.back()
            } else {
                carousel.throwCard(carousel.board.clientWidth, 0)
            }
            if (!matched_user_pairing_code) {
                openMatchOverlay(
                    carousel.topCard.getAttribute('restaurant_name_on_card'),
                    carousel.topCard.getAttribute('photo_url'),
                    carousel.topCard.getAttribute('url'))
            }
        }

        function pairRequest() {
            $.ajax({
                type: "POST",
                url: "/pair_request",
                data: JSON.stringify({
                    "initial_user_pairing_code":user_pairing_code,
                    "requested_user_pairing_code":$('#enterCodeInput').val()
                }),
                contentType:"application/json; charset=utf-8",
                dataType: "json",
                success: function(result) {
                    console.log(result);
                },
                error: function(result) {
                    console.log(result);
                },
            });
        }

        function postSwipe(gmaps_place_id, is_swipe_right) {
            $.ajax({
                type: "POST",
                url: "/post_swipe",
                data: JSON.stringify({
                    "gmaps_place_id": gmaps_place_id,
                    "is_swipe_right": is_swipe_right
                }),
                contentType:"application/json; charset=utf-8",
                dataType: "json",
                success: function(result) {
                    if (!matched_user_pairing_code) {
                        openMatchOverlay(
                            carousel.topCard.getAttribute('restaurant_name_on_card'),
                            carousel.topCard.getAttribute('photo_url'),
                            carousel.topCard.getAttribute('url'))
                    }
                },
                error: function(result) {
                    console.log(result);
                },
            });
        }

        $('#submitPairCodeRequest').click(function(e) {
            e.preventDefault()
            pairRequest()
        });

        document.getElementById('acceptPairButton').onclick = function () {
            $.ajax({
                type: "POST",
                url: "/pair_accept",

                data: JSON.stringify({
                    "user_pairing_code_1":user_pairing_code,
                    "user_pairing_code_2":user_code_requesting
                }),
                contentType:"application/json; charset=utf-8",
                dataType: "json",
                success: function(result) {
                    $('#pairMessage').find('h1').text('Pairing successful!')
                    document.getElementById('acceptPairButton').style.visibility='hidden'
                    document.getElementById('acceptPairButton').style.pointerEvents='none'
                    document.getElementById('dontPairButton').innerText = 'OK'
                    $('#pairedInfo').find('h2').text('Paired with User "' + user_code_requesting.replace('\u0030', '\u00D8') + '"')
                    document.getElementById('pairedInfo').style.border = '1px solid gray'
                    console.log(result);
                },
                error: function(result) {
                    $('#pairMessage').find('h1').text('').append('Pairing failed, please try again.')
                    console.log(result);
                },
            });
        }

        document.getElementById('backToRegularViewButton').onclick = function () {
            // from /info back to main page (caught by popstate listener on index.html, same thing that catches the back button)
            history.back()
        }

        function whichTransitionEvent() {
            var el = document.createElement('fake'),
                transEndEventNames = {
                    'WebkitTransition' : 'webkitTransitionEnd',// Saf 6, Android Browser
                    'MozTransition'    : 'transitionend',      // only for FF < 15
                    'transition'       : 'transitionend'       // IE10, Opera, Chrome, FF 15+, Saf 7+
                };

            for(var t in transEndEventNames){
                if( el.style[t] !== undefined ){
                    return transEndEventNames[t];
                }
            }
        }

        //called when 1) hitting back button (only applicable when the app is in the /info state, or the info view) or when hitting the "back to regular view" button,
        // or 2) when the swipe right/left button is selected. if in the info view, history.back() is called, which triggers the popstate event listener below.
        window.addEventListener('popstate', function (e) {
            if (isAccountView) {
                switchToSwipeView()
            }
            else {
                //shrink the view back to regular swipe view. includes some transitions
                carousel.shrinkInfo()
                //grab the "top card" via jquery
                var transEndEventName = whichTransitionEvent();
                $('#card_0').one(transEndEventName, function (e) {
                    //console.log(e.type);
                    if (carousel.isLeftSwipe) {
                        carousel.throwCard(-(carousel.board.clientWidth + carousel.topCard.clientWidth), 30)
                    } else if (carousel.isRightSwipe) {
                        carousel.throwCard(carousel.board.clientWidth, 0)
                    }
                });
            }
        });

        function openMatchOverlay(restaurant_name, photo_url, google_place_url) {
            if (matched_user_pairing_code) {
                document.getElementById('matchMessageHeader').innerText = 'You both like ' + restaurant_name  +'!'
            }
            else {
                document.getElementById('matchMessageHeader').innerText = restaurant_name
            }
            document.getElementById('matchImg').src = photo_url
            document.getElementById('linkToGooglePlaceURL').href = google_place_url
            document.getElementById('match-overlay').style.height = "100%";
        }

        function openPairOverlay(message) {
            //clear previous message and populate pair message.
            $('#pairMessage').find('h1').text(message)
            document.getElementById('acceptPairButton').style.visibility='visible'
            document.getElementById('acceptPairButton').style.pointerEvents='auto'
            document.getElementById('dontPairButton').innerText = "Don't Pair"
            document.getElementById('pair-overlay').style.height = "100%";
        }

        //loop through 5 rating stars and set the color of each star based on rating.
        function setRatingStars(div_id, strRating) {
            let spans = document.getElementById(div_id).getElementsByTagName('span')
            let floatRating = parseFloat(strRating)
            let dec
            let percent_left
            let background_color

            if (div_id === 'restaurantRatingBelowCard') {
                background_color = 'gray'
            }
            else {
                background_color = 'white'
            }

            for (var i = 0; i <= 4; i++) {
                if (floatRating >= (i + 1)) {
                    spans[i].style.cssText = 'background: none; \
                                              -webkit-text-fill-color: initial; \
                                              color: orange'
                }
                else if (floatRating < (i + 1) && floatRating > i) {
                    dec = (floatRating % 1).toFixed(1)
                    percent_left = dec * 100
                    spans[i].style.cssText = 'background: -webkit-linear-gradient(left, orange ' + percent_left.toString() + '%, ' + background_color  + ' 0%); \
                                                background: -moz-linear-gradient(left, orange ' + percent_left.toString() + '%, ' + background_color  + ' 0%); \
                                                background: -ms-linear-gradient(left, orange ' + percent_left.toString() + '%, ' + background_color  + ' 0%); \
                                                background: -linear-gradient(left, orange ' + percent_left.toString() + '%, ' + background_color  + ' 0%); \
                                                -webkit-text-fill-color: transparent; \
                                                color:transparent; \
                                                -webkit-background-clip:text; \
                                                background-clip:text; \
                                                 text-shadow: none;'
                    }
                else {
                    spans[i].style.cssText = 'background: none; \
                                              -webkit-text-fill-color: initial; \
                                              color: ' + background_color
                }
            }
        }
    </script>
{% endblock %}