{% extends "main/base.html" %}

{% block head %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/carousel.js') }}"></script>
{% endblock %}

{% block content %}
    <div id="board">
        <div id="swipeLeftButton"></div>
        <div id="swipeRightButton"></div>
    </div>


{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">

        var currImageArrayIndex=0
        var images = []

        let board = document.querySelector('#board')
        let carousel = new Carousel(board)

        //listeners for swipe left/right buttons
        document.getElementById('swipeLeftButton').onclick = function () {
            carousel.throwCard(-(carousel.board.clientWidth + carousel.topCard.clientWidth), 30)
        }

        document.getElementById('swipeRightButton').onclick = function () {
            carousel.throwCard(carousel.board.clientWidth, 0)
        }

        window.addEventListener('popstate', function (e) {
            console.log(window.location.pathname);
            carousel.shrinkInfo()
        });

    </script>
{% endblock %}