html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
scroll-behavior: smooth;
}

#board {
    width: 100%;
    height: 100%;
    position: relative;
    /*overflow: hidden;*/
    background-color: rgb(245, 247, 250);
    max-width: 1000px;
    display:inline-block;
    overflow:hidden;
    font-family: 'Open Sans', sans-serif;
}

#match-overlay {
    height:0;
    width:100%;
    position:fixed;
    z-index:20;
    left:0;
    bottom:0;
    background-color:rgb(0,0,0);
    background-color: rgba(0,0,0, 0.8); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.match-overlay > h1 {
    color: white;
    font-size: 5.6em;
}

#reviewMatchRestaurantButton {
    color: white;
    font-size: 5.6em;
    height:110px;
    margin-top:15%;
    background-color: #4ccab8;
    border-radius:20px;
    font-weight:100;
}


/* Position the content inside the overlay */
.match-overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* Position the close button (top right corner) */
.match-overlay #closeMatchOverlayButton {
  position: absolute;
  top:2%;
  right: 0%;
  font-size: 3em;
    color:white;
    opacity:70%;

}

.card {
    width: 97%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 2%;
    /* 1= outer box shadow, 2=bottom shadow, 3=top shadow */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1),
                0px -460px 100px -100px rgba(0, 0, 0, .5) inset,
                0px 150px 100px -100px rgba(0, 0, 0, 0.12) inset;
    background-color: white;
    transform: translateX(-50%) translateY(-50%) scale(0.95);
    overflow:hidden;
    font-family: 'Open Sans', sans-serif;
    color:whitesmoke;
}

h1 {
    font-size:3.8em;
    word-wrap:break-word;
}

h2 {
    font-size:2.8em;
}

p {
    font-size: 2.8em;
    margin-bottom:1rem;
}

/*text shadow inside card*/
#restaurantInfoOnCard > h1, h2 {
    text-shadow:2px 2px 2px black;
}



/*CSS to place the whole image Num Indicator (flex box, fill with individual image indicators */
.imageNumIndicator {
    display:flex;
    flex-direction: row;
    flex-wrap:nowrap;
    position: relative;
    margin-top:10px;
    margin-right:10px;
    margin-left:10px;
    padding-bottom:2px;
}

.imageNumIndicator > div {
    background-color:#FFFFFF;
    width:800px;
    height:10px;
    margin:3px;
    border-radius: 5px;
}

#backToRegularViewButton {
    display: none;
    pointer-events: none;
    position: absolute;
    top:66.7%;
    right:8%;
    height: 7vh;
    width: 7vh;
    border-radius: 50%;
    background-color: orange;
}

#swipeLeftButton {
    display: block;
    position: fixed;
    top: 91.5%;
    left: 25%;
    height: 7vh;
    width: 7vh;
    border-radius: 50%;
    background-color: red;
    z-index: 10;
}

/* offset with the size of the circle (120px) since relative position places swipeRight right below swipeRight without positioning */
#swipeRightButton {
    display: block;
    position: fixed;
    top: calc(91.5%);
    top: -moz-calc(91.5%);
    top: -webkit-calc(91.5%);
    left: 63%;
    height: 7vh;
    width: 7vh;
    border-radius: 50%;
    background-color: turquoise;
    z-index: 10;
}

#swipeLeftRedIndicator {
    position: absolute;
    width:275px;
    height:125px;
    top:15%;
    right:10%;
    background-color:red;
    transform:rotate(20deg);
    opacity: 0;
    border-radius: 7%;
}

#swipeRightGreenIndicator {
    position: absolute;
    width:275px;
    height:125px;
    top:15%;
    left:10%;
    background-color:green;
    transform:rotate(-20deg);
    opacity: 0;
    border-radius: 7%;
}

#restaurantName {
    position: absolute;
    bottom:15%;
    left:3%;
    width:100%;
    height:75px;
    color:white;
    text-align:left;
}

#restaurantRating {
    position: absolute;
    bottom:8%;
    left:2.5%;
    width:100%;
    height:75px;
    color:white;
    text-align:left;
}

#restaurantRating > span {
    padding-left:7px;
}

.checked {
    color:orange;
}

#restaurantType {
    position: absolute;
    bottom:3.5%;
    left:3%;
    width:100%;
    height:75px;
    color:white;
    text-align:left;
}

#restaurantMilesAway {
    position: absolute;
    bottom:-.8%;
    left:3%;
    width:100%;
    height:75px;
    color:white;
    text-align:left;
}

#restaurantInfoBelowCard {
    position: absolute;
    bottom:23%;
    left:3%;
    width:100%;
    height:75px;
    color:black;
    text-align:left;
    display:none;
}

