html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    touch-action: manipulation;
    font-family: 'Open Sans', sans-serif;
}

/*override skeleton.css container class
*/
.container {
    width:100%;
    max-width:960px;
}

#navBarAccountSettingsScreenButton {
    padding-top:5%;
    padding-right:5%;
    font-size:1.5em;
    opacity:25%;
}

#navBarSwipeScreenButton {
    padding-top:5%;
    padding-left:5%;
    font-size:1.5em;
    opacity:80%;
    pointer-events: none;
}

#navBarTop {
    text-align: center;
}
#navBarTop h1 {
    font-size:4vh;
}

#board {
    width: 100%;
    height: 91%;
    position: relative;
    background-color: rgb(245, 247, 250);
    max-width: 1000px;
    display:inline-block;
    text-align: center;
}

#board h1 {
    font-size:3vh;
    word-wrap:break-word;
}

#board h2 {
    font-size:2.5vh;
}

#board p {
    font-size: 2.5vh;
    margin-bottom:1rem;
}

/* ACCOUNT PAGE */
#accountInfo {
    display:none;
    height:89%;
    padding:1px;
    padding-left:3%;
    padding-right:3%;
    background-color: rgb(245, 247, 250);
}

.accountInfoItem {
    margin-top: 3vh;
    border: 1px solid gray;
    padding-top:1vh;
    padding-left:1vh;
    border-radius:2vh;
    background-color:white
}

#accountInfo h1 {
    font-size:3vh;
}

#accountInfo h2 {
    font-size:2.5vh;
}

#accountInfo h3 {
    font-size:2vh;
}

#accountInfo .button-primary {
    height:5%;
    width: 35%;
    font-size:2.5vh;
    border-radius:3vh;
    background-color:darkturquoise;
    margin-left:4.5vh;
}

input[type="text"]
{
    height:5%;
    margin-left:0;
    font-size:2.5vh;
    border-radius: 3vh;
    padding-left:2vh;
    resize:none;
}


/* OVERLAY for "You have a match" and "user would like to pair with you"*/
.overlay {
    height:0;
    width:100%;
    position:fixed;
    z-index:20;
    left:0;
    bottom:0;
    background-color:rgb(0,0,0);
    background-color: rgba(0,0,0, 0.90); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
    text-align: center;
}

.overlay h1 {
    color: white;
    font-size: 3vh;
    padding-top: 30px;
    word-wrap:break-word;
}

.overlay img {
    border-radius: 50%;
    margin-top:8vh;
    border: 5px solid #bbb;
    width: 30vh;
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

.overlayMessage {
    padding-top:18vh;
}

/* Position the close button (top right corner) */
#closeMatchOverlayButton {
    position: absolute;
    top:5%;
    right: 5%;
    font-size: 2em;
    color:white;
    opacity:70%;
}

.overlay .noText {
    color:white;
    font-size:4em;
    opacity:70%;
}

.overlayAcceptButton {
    color: white;
    font-size: 3vh;
    height:5vh;
    background-color: #4ccab8;
    border-radius:20px;
    font-weight:100;
}

#reviewMatchRestaurantButton {
    margin-top: 10vh;
}

#acceptPairButton {
    margin-top: 44vh;
}

/* SWIPE CARD */
.card {
    width: 97%; /* update in carousel.js shrinkInfo*/
    height: 89%; /* update in carousel.js shrinkInfo*/
    position: absolute;
    top: 45%; /* update in carousel.js shrinkInfo*/
    left: 50%;
    border-radius: 2%; /* update in carousel.js shrinkInfo*/
    /* 1= outer box shadow, 2=bottom shadow, 3=top shadow */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1), /* update in carousel.js shrinkInfo*/
                0px -460px 100px -100px rgba(0, 0, 0, .5) inset,
                0px 150px 100px -100px rgba(0, 0, 0, 0.12) inset;
    background-color: white;
    transform: translateX(-50%) translateY(-50%) scale(0.95);
    overflow:hidden;
    font-family: 'Open Sans', sans-serif;
    color:whitesmoke;
    background-size:cover;
}

/*text shadow inside card*/
#restaurantInfoOnCard  h1  {
    text-shadow:2px 2px 2px black;
}

#restaurantInfoOnCard h2 {
    text-shadow:2px 2px 2px black;
}

/*CSS to place the whole image Num Indicator (flex box, fill with individual image indicators */
.imageNumIndicator {
    display:flex;
    flex-direction: row;
    flex-wrap:nowrap;
    position: relative;
    margin-top:10px;
    margin-right:10px;
    margin-left:10px;
    padding-bottom:2px;
}

.imageNumIndicator > div {
    background-color:#FFFFFF;
    width:800px;
    height:10px;
    margin:3px;
    border-radius: 5px;
}

#backToRegularViewButton {
    display: none;
    pointer-events: none;
    position: absolute;
    top:66.7%;
    right:8%;
    height: 7vh;
    width: 7vh;
    border-radius: 50%;
    background-color: orange;
}

#swipeLeftButton {
    display: block;
    position: fixed;
    top: 91.5%;
    left: 25%;
    height: 7vh;
    width: 7vh;
    border-radius: 50%;
    background-color: red;
    z-index: 10;
}

/* offset with the size of the circle (120px) since relative position places swipeRight right below swipeRight without positioning */
#swipeRightButton {
    display: block;
    position: fixed;
    top: calc(91.5%);
    top: -moz-calc(91.5%);
    top: -webkit-calc(91.5%);
    left: 63%;
    height: 7vh;
    width: 7vh;
    border-radius: 50%;
    background-color: turquoise;
    z-index: 10;
}

#swipeLeftRedIndicator {
    position: absolute;
    width:275px;
    height:125px;
    top:15%;
    right:10%;
    background-color:red;
    transform:rotate(20deg);
    opacity: 0;
    border-radius: 7%;
}

#swipeRightGreenIndicator {
    position: absolute;
    width:275px;
    height:125px;
    top:15%;
    left:10%;
    background-color:green;
    transform:rotate(-20deg);
    opacity: 0;
    border-radius: 7%;
}

#restaurantNameOnCard {
    position: absolute;
    bottom:13%;
    left:3%;
    width:100%;
    height:75px;
    color:white;
    text-align:left;
}

#restaurantRatingOnCard {
    position: absolute;
    bottom:8%;
    left:2%;
    width:100%;
    height:75px;
    color:white;
    text-align:left;
}

#restaurantRatingOnCard > span {
    margin-left:7px;
}



#restaurantTypeOnCard {
    position: absolute;
    bottom:3.5%;
    left:3%;
    width:100%;
    height:75px;
    color:white;
    text-align:left;
}

#restaurantMilesAwayOnCard {
    position: absolute;
    bottom:-.8%;
    left:3%;
    width:100%;
    height:75px;
    color:white;
    text-align:left;
}

#restaurantInfoBelowCard {
    position: absolute;
    bottom:23%;
    left:3%;
    width:97%;
    height:75px;
    color:black;
    text-align:left;
    display:none;
}
